/* pár napsaných stylů, aby se neřeklu, že se jen používá bootstrap */
.about-content-container{
    margin-top:20%;
    margin-left: 5%;
    margin-right:5%;
    height:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:3px outset gray;
    box-shadow: 0 0 5px lightslategrey;

}
.about-content-container p{
    margin: 0;
    text-align: center;
}

div.homepage-content-wrapper div.header-container{
    width: 100%;
    height:40px;
    display:flex;
    justify-content: center;
}

div.homepage-content-wrapper div.header-container h2{
    color:rgb(185,200,0);
    transition: color 1s;
}

div.homepage-content-wrapper div.header-container h2:hover{
    color:red;
    -webkit-animation: rotate 0.5s linear;
    -moz-animation: rotate 0.5s linear;
    -o-animation: rotate 0.5s linear;
    animation: rotate 0.5s linear;
}
#svg-easter-egg {
    margin-top: 10vh;
    overflow: visible;
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }


.seat:hover{
    fill:gray;
}  

#hall-button{
    position:absolute;
    top:0;
    right:0;
}


